Source: ruby-test-unit
Section: ruby
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Cédric Boutillier <boutil@debian.org>
Build-Depends: debhelper (>= 11~),
               gem2deb,
               rake,
               ruby-power-assert
Standards-Version: 4.2.0
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-test-unit.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-test-unit
Homepage: http://test-unit.github.io/
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
XS-Pexip-Upstream: http://ftp.debian.org/debian/ buster

Package: ruby-test-unit
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Multi-Arch: foreign
Depends: ruby-power-assert,
         ${misc:Depends},
         ${shlibs:Depends}
Description: unit testing framework for Ruby
 Test::Unit (test-unit) is a unit testing framework for Ruby, based on xUnit
 principles. It allows writing tests, checking results and automated testing in
 Ruby.
 .
 Note that this version of Test::Unit will override the one possibly shipped
 with the Ruby interpreter.
